/***** Yellow Butterfly mouse over effect *****/
/***** Created By Atousa Darabi *****/

.yellowbutterfly-parent{
	margin: 0 auto;
	display: block;
	width: 160px;
}
.yellowbutterfly-container{
	position: relative;
	margin: 0 auto;
	padding: 20px;
	height: 400px;
	text-align: center;
	background-color: ;
}
.yellowbutterfly-container .yellowbutterfly-circle-border{
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	width: 160px;
	height: 160px;
	border: dashed 3px #ffd600;
	border-radius: 50%;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container:hover .yellowbutterfly-circle-border{
	border-color: #ccc;
	background-color: #efefef;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-img{
	position: absolute;
	top: 25px;
	right: 0;
	left: 0;
	margin-top: 30px;
	width: 160px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content{
	padding: 10px;
	position: absolute;
	top: 180px;
	right: 0;
	left: 0;
	width: 160px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content > h3{
	color: #aaa;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content > p{
	color: #ddd;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content > p.long-description{
	display: none;
	margin-top: 90px;
}
.yellowbutterfly-container .yellowbutterfly-content-top{
	top: 45px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content-top > h3{
	color: #ffd600;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.yellowbutterfly-container .yellowbutterfly-content-top > p{
	color: #666;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}

.yellowbutterfly-container .yellowbutterfly-img-down{
	left: 90px;
	opacity: 0;
	transform: rotate3d(100, 120, 90, 120deg);
	-o-transform: rotate3d(100, 120, 90, 120deg);
	-ms-transform: rotate3d(100, 120, 90, 120deg);
	-moz-transform: rotate3d(100, 120, 90, 120deg);
	-webkit-transform: rotate3d(100, 120, 90, 120deg);
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
