/***** Blue Butterfly mouse over effect *****/
/***** Created By Atousa Darabi *****/
.bluebutterfly-parent{
	margin: 0 auto;
	display: block;
	width: 160px;
}
.bluebutterfly-container{
	position: relative;
	margin: 0 auto;
	padding: 20px;
	height: 400px;
	text-align: center;
	background-color: ;
}
.bluebutterfly-container .bluebutterfly-circle-border{
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	width: 160px;
	height: 160px;
	border: dashed 3px #009cd4;
	border-radius: 50%;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container:hover .bluebutterfly-circle-border{
	border-color: #ccc;
	background-color: #efefef;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-img{
	position: absolute;
	top: 25px;
	right: 0;
	left: 0;
	margin-top: 30px;
	width: 160px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-content{
	padding: 10px;
	position: absolute;
	top: 180px;
	right: 0;
	left: 0;
	width: 160px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-content > h3{
	color: #aaa;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-content > p{
	color: #ddd;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-content > p.long-description{
	display: none;
}
.bluebutterfly-container .bluebutterfly-content-top{
	top: 25px;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.bluebutterfly-container .bluebutterfly-content-top > h3,
.bluebutterfly-container .bluebutterfly-content-top > p{
	color: #666;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}

.bluebutterfly-container .bluebutterfly-img-down{
	top: 170px;
	opacity: 0.5;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
